{% extends 'base.html' %}

{%block title%}GC Percentage{% endblock %}

{% block content %}
<section class="gc_per">
    <div class="container">
        <h1 class="text-center py-4">GC Percentage</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'gc' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="dnaSequence" class="sr-only">Enter a DNA/RNA sequence</label>
                        <textarea class="form-control" id="dnaSequence" name="gc_seq" placeholder="Enter a DNA sequence"
                            rows="4"></textarea>
                    </div>
                    <br>

                    <button class="btn btn-dark btn-block" type="submit">Calculate GC%</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"> Sequence: {{ seq }}</p>
                        <p class="card-text">GC% = {{ per }}%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
